.add-sale-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #87CEEB; /* Sky blue background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* White text color */
  }
  
  .add-sale-header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input,
  .select-input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333; /* Dark gray text color */
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #3498db; /* Medium blue background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #2980b9; /* Slightly darker blue on hover */
  }

  .add-sale-header-link {
    text-decoration: none;
    color: white; /* Medium blue color */
  }
  
  .add-sale-header {
    margin: 0;
    font-size: 28px;
    color: white; /* Medium blue color */
  }